@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* 清除預設樣式、
設定box不會因為border、margin、padding增加而加大整體的寬高
以及套用字體樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: url("deer.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
/* 背景設定紅色 除錯用 */
/* 位置設為固定 怎麼滾動都不會不見 標頭適合做成霧面 */
/* 設定flex讓*內容*排列方式為水平、*/
/* space-between讓內容平均方散距離(中間距離相等) */
/* align-items: center 垂直置中 */
/* z-index 三維層級 越大在越上面 但前提要有設定position(此段待驗證) */
/* rgba最後為透明度 霧面導覽關鍵 */
/* backdrop-filter處理元素背景模糊效果的屬性 值blur:處理基本模糊 會吃網頁效能 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* 問老師設定這個的用途 */
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  z-index: -1;
}

/* 問老師設定這個的用途 */
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  /* 這裡的left為何會改變標頭進而可以點及內容?? */
  width: 100%;
  height: 100%;
  /* 這裡的transparent如果只設定一個 會只有進場套用到0.6秒的效果 出場不會 */
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: 0.6s;
}

.header:hover::after {
  left: 100%;
}

/* logo的字體通常更大更顯眼更明瞭*/
.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

#check {
  display: none;
}
/* 收合菜單 */
/* 1-設定大小會撐開header */
/* cursor: pointer 游標樣式轉變*/
/* 2-設定顯示方式讓他暫時不顯示 */
/* 這裡的top & right 是在設定RWD時候回頭過來設定的 */
/* 當視窗小於 768px(76行) 顯示方式變為block 進而觸發這裡的位置設定以及right跟top */
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* breakpoints 斷點 視窗在什麼大小下 會顯示成什麼樣子 */
/* 底下用法 記熟!! */
/* 設計RWD時 會回頭設計收合menu的位置 */
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}
/* 再問老師一遍*/
@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  /* 收合關聯-問老師這行到底幹嘛用的 */
  #check:checked ~ .icons #meun-icon {
    display: none;
  }
  /* 收合icon */
  .icons #close-icon {
    display: none;
  }
  /* 收合關聯-問老師這行到底幹嘛用的 */
  #check:checked ~ .icons #close-icon {
    display: block;
  }

  /* 問老師為什麼這裡不會有明顯霧面效果 */
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden; /*這裡的hidden為何可以蓋掉內容?*/
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  /* 設定block(佔一行)讓導覽列裡的東西垂直排列 */
  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }
  /* 這邊的動畫設定可以讓內容有種跟著卷軸收合上去的效果 */
  /* transform: translateY(-50px) 垂直平移(負值往上正值往下 結合下面會有種回到原位的效果)*/
  /* opacity則設定文字有淡出的效果 值為0到1 完全透明到不透明 */
  #check:checked ~ .navbar a {
    transform: translateY(0);
    transition-delay: calc(0.15s * var(--i));
    opacity: 1;
  }
}
